<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.logotet.dedinjeadmin"    >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/dedinjskod"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartMatchActivity"
            android:label="@string/menuStart"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".EventsActivity"
            android:label="@string/menuDogadjaj"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DeleteEventsActivity"
            android:label="@string/menuBrisanje"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SastavActivity"
            android:label="@string/menuSastav"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AfterLoginActivity"
            android:label="@string/title_activity_after_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ClientLookActivity"
            android:label="Приказ утакмице" >
        </activity>
    </application>

</manifest>
